*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
  background-color: #07172B !important;
}
.cards {
    z-index:- 1;
    padding: 4% 2%;
    width: 365px;
    background: #07182E;
    position: relative;
    display: flex;
    flex-direction: column;
    place-content: center;
    place-items: center;
    overflow: hidden;
    border-radius: 20px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }
  
  .cards h2 {
    z-index:- 1;
    z-index: 1;
    color: white;
    font-size: 2em;
  }
  
  .cards::before {
   
    content: '';
    position: absolute;
    width: 100px;
    background-image: linear-gradient(180deg, rgb(0, 183, 255), rgb(255, 48, 255));
    height: 130%;
    animation: rotBGimg 3s linear infinite;
    transition: all 0.2s linear;
  }
  
  @keyframes rotBGimg {
    
    from {
       
      transform: rotate(0deg);
    }
  
    to {
       
      transform: rotate(360deg);
    }
  }
  
  .cards::after {
    z-index:- 1;
    content: '';
    position: absolute;
    background: #07182E;
    ;
    inset: 5px;
    border-radius: 15px;
  }  
   .cards:hover:before {
    z-index:- 1;
    background-image: linear-gradient(180deg, rgb(81, 255, 0), purple);
    animation: rotBGimg 3.5s linear infinite;
  } 
  
  .file-upload-form {
    z-index:1;
      width: fit-content;
      height: fit-content;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      padding-bottom: 10px;
    }
    .file-upload-label input {
        z-index:1;
      display: none;
    }
    .file-upload-label svg {
        z-index:1;
      height: 50px;
      fill: rgb(82, 82, 82);
      margin-bottom: 20px;
    }
    .file-upload-label {
        z-index:1;
      cursor: pointer;
      background-color: #ddd;
      padding: 30px 100px;
      border-radius: 40px;
      border: 2px dashed rgb(82, 82, 82);
      box-shadow: 0px 0px 200px -50px rgba(0, 0, 0, 0.719);
    }
    .file-upload-design {
        z-index:1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      gap: 5px;
    }
    .browse-button {
        z-index:1;
      background-color: rgb(82, 82, 82);
      padding: 5px 15px;
      border-radius: 10px;
      color: white;
      transition: all 0.3s;
    }
    .browse-button:hover {
        z-index:1;
      background-color: rgb(14, 14, 14);
    }
    
    .input-border {
        position: absolute;
        background: var(--border-after-color);
        width: 0%;
        height: 2px;
        bottom: 0;
        left: 0;
        transition: width 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
      }
      
      .input:focus {
        outline: none;
      }
      
      .input:focus + .input-border {
        width: 100%;
      }
      
     
      .input-alt {
        font-size: 1.2rem;
        padding-inline: 1em;
        padding-block: 0.8em;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
      }
      
      .input-border-alt {
        height: 3px;
        background: linear-gradient(90deg, #FF6464 0%, #FFBF59 50%, #47C9FF 100%);
        transition: width 0.4s cubic-bezier(0.42, 0, 0.58, 1.00);
      }
      
      .input-alt:focus + .input-border-alt {
        width: 100%;
      }
      
      .cardio {
        width: 210px;
        height: 110px;
        background: rgb(17, 4, 134);
        border-radius: 15px;
        box-shadow: rgb(0,0,0,0.7) 5px 10px 50px ,rgb(255,255,255,0.7) -5px 0px 250px;
        display: flex;
        color: white;
        justify-content: center;
        position: relative;
        flex-direction: column;
        background: linear-gradient(to right, rgb(20, 30, 48), rgb(36, 59, 85));
        cursor: pointer;
        transition: all 0.3s ease-in-out;
        overflow: hidden;
      }
      
      

      .time-text {
        font-size: 40px;
        margin-top: 0px;
        margin-left: 15px;
        font-weight: 600;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      .time-sub-text {
        font-size: 15px;
        margin-left: 5px;
      }
      
      .day-text {
        font-size: 18px;
        margin-top: 0px;
        margin-left: 15px;
        font-weight: 500;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      }
      
      .moon {
        font-size: 20px;
        position: absolute;
        right: 15px;
        top: 15px;
        transition: all 0.3s ease-in-out;
      }
      
      .cardio:hover > .moon {
        font-size: 23px;
      }
      
      .submit{
        margin-top: 10px;
        font-family: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
          "Liberation Mono", "Courier New", monospace;
        font-size: 16px;
        padding: 0.6em 6.7em;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
        font-weight: 500;
        background: #1f2937;
        color: white;
        border: none;
        position: relative;
        overflow: hidden;
        border-radius: 0.6em;
        cursor: pointer;
      }
      
      .gradient {
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        border-radius: 0.6em;
        margin-top: -0.25em;
        background-image: linear-gradient(
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0),
          rgba(0, 0, 0, 0.3)
        );
      }
      
      .label {
        position: relative;
        top: -1px;
      }
      
      .transition {
        transition-timing-function: cubic-bezier(0, 0, 0.2, 1);
        transition-duration: 500ms;
        background-color: #07172B;
        border-radius: 9999px;
        width: 0;
        height: 0;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      
      button:hover .transition {
        width: 20em;
        height: 14em;
      }
      
      button:active {
        transform: scale(0.97);
      }
      